body {
    background-color: #e6e8ff;
}

.table-border {
    border: 2px solid #00FF00;
	width: 80%;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#photo-resize{
    width: 200px;
	height: 250px;
	border: 2px solid #00FF00;
}
